-var txt="Do not seek to change what has come before. Seek to create that which has not.";

.meet-our-team
    .title
        span.title__txt MEET 
            span.title__txt-bold OUR TEAM
        img.title__line(src="../static/img/2_line_title.jpg", alt="2_line")
        img.title__line(src="../static/img/1_line_title.jpg", alt="1_line")
    .mot-slider
        #mot_slider_1.mot-content
            .content-block
                img.bloc__img(src="../static/img/jason-statham.jpg", alt="Jason Statham")
                span.block__name Jason Statham
                span.block__comit Knife designer
                p.block__txt #{txt}
            .content-block
                img.bloc__img(src="../static/img/Van-Damme.jpg", alt="Van Damme")
                span.block__name Van Damme
                span.block__comit No English
                p.block__txt #{txt}
            .content-block
                img.bloc__img(src="../static/img/Sylvester-Stallone.jpg", alt="Sylvester Stallone")
                span.block__name Sylvester Stallone
                span.block__comit Cigar Lover
                p.block__txt #{txt}
            .content-block
                img.bloc__img(src="../static/img/Jet-Li.jpg", alt="Jet Li")
                span.block__name Jet Li
                span.block__comit A need more money
                p.block__txt #{txt}
        #mot_slider_2.mot-content
            .content-block
                img.bloc__img(src="../static/img/jason-statham.jpg", alt="Jason Statham")
                span.block__name Jason Statham
                span.block__comit Knife designer
                p.block__txt #{txt}
            .content-block
                img.bloc__img(src="../static/img/Van-Damme.jpg", alt="Van Damme")
                span.block__name Van Damme
                span.block__comit No English
                p.block__txt #{txt}
            .content-block
                img.bloc__img(src="../static/img/Sylvester-Stallone.jpg", alt="Sylvester Stallone")
                span.block__name Sylvester Stallone
                span.block__comit Cigar Lover
                p.block__txt #{txt}
            .content-block
                img.bloc__img(src="../static/img/Jet-Li.jpg", alt="Jet Li")
                span.block__name Jet Li
                span.block__comit A need more money
                p.block__txt #{txt}
        #mot_slider_3.mot-content
            .content-block
                img.bloc__img(src="../static/img/jason-statham.jpg", alt="Jason Statham")
                span.block__name Jason Statham
                span.block__comit Knife designer
                p.block__txt #{txt}
            .content-block
                img.bloc__img(src="../static/img/Van-Damme.jpg", alt="Van Damme")
                span.block__name Van Damme
                span.block__comit No English
                p.block__txt #{txt}
            .content-block
                img.bloc__img(src="../static/img/Sylvester-Stallone.jpg", alt="Sylvester Stallone")
                span.block__name Sylvester Stallone
                span.block__comit Cigar Lover
                p.block__txt #{txt}
            .content-block
                img.bloc__img(src="../static/img/Jet-Li.jpg", alt="Jet Li")
                span.block__name Jet Li
                span.block__comit A need more money
                p.block__txt #{txt}
        .mot-slider-dots
            .square(id="mot-sq-1")     
            .square(id="mot-sq-2")       
            .square(id="mot-sq-3")   